@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

div.midinotes {
    position: fixed;
    top: 20px;
    left: 20px;
    color: hsl(0deg, 0%, 100%);
}
