@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 32px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

p {
    width: 100%;
    max-width: 420px;
    line-height: 1.4;
}

.input-container {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border: 1px solid hsl(0deg, 0%, 80%);
    border-radius: 8px;
    margin: 32px 0;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
